body{
    text-align: center;
}
.buttons{
    font-size: 50px;
    display: inline;
}

.row{
    text-align: center;

}

.card {
display: inline-block;
background-color: grey;
height: 250px;
width: 250px;
cursor: pointer;
}

.card:hover{
    box-shadow: inset 0px 0px 0px 5px red;
    box-sizing: border-box;
}

.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.black{
    background-color: black;
}
.teal{
    background-color: teal;
}
.pink{
    background-color: pink;
}
.hiding{
    background-color: grey;
}