body{
    text-align: center;
}
h1{
    height: 20px;
}
.buttons{
    font-size: 30px;
    display: inline;
    height: 30px;
}

.row{
    text-align: center;
}
.scoreBoardContainer{
    display: grid;
    justify-content: center;
    height: 110px;
}
.scoreBoard{
    border: solid black 2px;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.card {
    display: inline-block;
    background-color: grey;
    height: 225px;
    width: 225px;
    cursor: pointer;
}

.card:hover{
    box-shadow: inset 0px 0px 0px 5px red;
    box-sizing: border-box;
}

.rules{
    margin: 5px;
    justify-content: center;
}

.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.black{
    background-color: black;
}
.teal{
    background-color: teal;
}
.pink{
    background-color: pink;
}
.hiding{
    background-color: grey;
}


@media screen and (max-width: 900px) {
    .scoreBoardContainer{
        display: grid;
        justify-content: center;
        height: 55px;
    }
    .scoreBoard{
        border: solid black 2px;
        height: 15px;
        width: 75px;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .card {
        display: inline-block;
        background-color: grey;
        height: 112.5px;
        width: 112.5px;
        cursor: pointer;
    }
    .scoreBoardContainer{
        display: grid;
        justify-content: center;
        height: 110px;
    }
    .green{
        background-color: green;
    }
    .purple{
        background-color: purple;
    }
    .red{
        background-color: red;
    }
    .blue{
        background-color: blue;
    }
    .orange{
        background-color: orange;
    }
    .black{
        background-color: black;
    }
    .teal{
        background-color: teal;
    }
    .pink{
        background-color: pink;
    }
    .hiding{
        background-color: grey;
    }
}